body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(fondo.png) repeat;
    background-attachment: fixed;
    background-size: 5%;
    margin: 0;
    padding: 0;
}

.construction-message {
    text-align: center;
    padding: 20px;
    border: 2px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.construction-message h1 {
    font-size: 2em;
    color: #333;
}

.construction-message p {
    font-size: 1.2em;
    color: #666;
}

.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.back-button:hover {
    background-color: #0056b3;
}